.idea/inspectionProfiles/profiles_settings.xml
.idea
prPractice_task7/api/api/__pycache__/__init__.cpython-39.pyc
prPractice_task7/api/api/__pycache__
prPractice_task7/api/freelancer/__pycache__
prPractice_task7/api/freelancer/migrations/__pycache__
